:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #888ef8;
}
button:focus,
button:focus-visible {
  outline: #535bf2 2px;
}

button:disabled, button[disabled] {
  opacity: 1;
}

.selected {
  border: #535bf2 2px solid;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.select-sign {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.select-mode {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.square {
  border: 2px #535bf2 solid;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin: 10px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.winner {
  background: rgb(63, 219, 63);
  transition: background-color 0.5s ease;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 600;
}

.game {
  display: flex;
  height: 100vh;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.game-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


li {
  margin-top: 10px;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}


@media (min-width: 720px) {
  .game {
    flex-direction: row;
  }
  .game-info {
    margin-left: 40px;
  }
}

